<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Smart Home</title>
	<link rel="stylesheet" href="Css/SetUpApartment.css">
	<link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
	<link rel="icon" href="Pictures/logo.ico" />
</head>
<body>
	<header>
	<img src="Pictures/Logo.jpg" alt="logo" class="logo">
	<center><h2>Set Up Apartment</h2></center>
	</header>

	<form action="Home.html">
	<article>
		<label> Address of Apartment: </label> <input type="text" name="Address"> <br> <hr>
		<label> Size of Apartment: </label> <input type="text" placeholder="_ _m²" name="Size">  <br> <hr>
		<label> Number of Rooms: </label> <input type="text" name="Rooms"> <br> <hr>
	</article>

<div>
	<table border="1">
  <tr>
    <th>#</th>
    <th>Light</th>
    <th>Temperature</th>
    <th>Door</th>
    <th>Motion</th>
    <th>Smoke</th>
  </tr>

  <tr>
    <td>Living Room</td>
    <td> <input type="radio" name="11" value="Yes"> Yes <input type="radio" name="11" value="No"> No</td>
    <td> <input type="radio" name="12" value="Yes"> Yes <input type="radio" name="12" value="No"> No</td>
    <td> <input type="radio" name="13" value="Yes"> Yes <input type="radio" name="13" value="No"> No</td>
    <td> <input type="radio" name="14" value="Yes"> Yes <input type="radio" name="14" value="No"> No</td>
    <td> <input type="radio" name="15" value="Yes"> Yes <input type="radio" name="15" value="No"> No</td>
  </tr>

  <tr>
    <td>Bedroom</td>
    <td> <input type="radio" name="21" value="Yes"> Yes <input type="radio" name="21" value="No"> No</td>
    <td> <input type="radio" name="22" value="Yes"> Yes <input type="radio" name="22" value="No"> No</td>
    <td> <input type="radio" name="23" value="Yes"> Yes <input type="radio" name="23" value="No"> No</td>
    <td> <input type="radio" name="24" value="Yes"> Yes <input type="radio" name="24" value="No"> No</td>
    <td> <input type="radio" name="25" value="Yes"> Yes <input type="radio" name="25" value="No"> No</td>
  </tr>

  <tr>
    <td>Hall</td>
    <td> <input type="radio" name="31" value="Yes"> Yes <input type="radio" name="31" value="No"> No</td>
    <td> <input type="radio" name="32" value="Yes"> Yes <input type="radio" name="32" value="No"> No</td>
    <td> <input type="radio" name="33" value="Yes"> Yes <input type="radio" name="33" value="No"> No</td>
    <td> <input type="radio" name="34" value="Yes"> Yes <input type="radio" name="34" value="No"> No</td>
    <td> <input type="radio" name="35" value="Yes"> Yes <input type="radio" name="35" value="No"> No</td>
  </tr>

  <tr>
    <td>Kitchen</td>
    <td> <input type="radio" name="41" value="Yes"> Yes <input type="radio" name="41" value="No"> No</td>
    <td> <input type="radio" name="42" value="Yes"> Yes <input type="radio" name="42" value="No"> No</td>
    <td> <input type="radio" name="43" value="Yes"> Yes <input type="radio" name="43" value="No"> No</td>
    <td> <input type="radio" name="44" value="Yes"> Yes <input type="radio" name="44" value="No"> No</td>
    <td> <input type="radio" name="45" value="Yes"> Yes <input type="radio" name="45" value="No"> No</td>
  </tr>

</table>
</div>

<center> <input type="submit" value="Submit"> </center>
</form>
</body>
</html>