html{
	background-image: url("Pictures/background.jpg");
	height: 100%; 
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


body{
	margin:0;
	padding: 0;
	font-family: sans-serif;
    
}
.userBox{
	position: absolute;
	left: 50%;
	top:50%;
	transform: translate(-50%,-50%);
	width: 350px;
	height: 420px;
	padding: 80px 40px;
	box-sizing: border-box;
	background: rgba(50,50,50,.7);

}
.userLogo{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	overflow: hidden;
	position: absolute;
	top: calc(-100px/2);
	left: calc(50% - 50px);
}
h2{
	margin: 0;
	padding: 0 0 20px;
	text-align: center;
	color: #D3D3D3;
}
.userBox p{
	margin: 0;
	padding: 0;
	font-weight: bold;
	color: #fff;
}
.userBox input{
	width: 100%;
	margin-bottom: 20px;
}

.userBox input[type="password"]{
	border:none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
}

::placeholder{
	color: rgba(255,255,255,.5);
}

.userBox input[type="submit"]{
	border:none;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
	background: #ff267e;
	cursor: pointer;
	border-radius: 20px;
}

.userBox input[type="submit"]:hover{
	background: #800080;
}

.userBox a[hreflang="en"]{
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	
}

.userBox a[hreflang="fr"]{
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	float: right;
	
}

.logo{
	width: 10%;
	height: 10%;
	margin-top: 25px;
	margin-left: 25px;
	border:#696969 5px outset;
}