html{
	background-image: url("Pictures/background.jpg");
	height: 100%; 
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


body{
	margin:0;
	padding: 0;
	font-family: sans-serif;
    
}


.logo{
	width: 10%;
	height: 10%;
	margin-top: 25px;
	margin-left: 25px;
	border:#696969 5px outset;
}

h2{
	background-color :#C0C0C0;
	width: 250px;
	border-radius: 20px; 

}

article{
	padding:10px; 
	margin-left: 34%;
	text-align: center;
	left: 50%;
	background-color: #4682B4;
	width: 400px;
	border-radius: 20px;
}

input[type="text"]{
	float: right;
	text-align: center;
	border-style: double;
}
label{
	float: left;
	font-weight: bold;
}

table {
	margin-top: 30px;
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: center;
    padding: 10px;
}

tr:nth-child(even){background-color: #E0FFFF}
tr:nth-child(odd){background-color: #DCDCDC}

th {
    background-color: #FFB6C1;
    color: #111111;
}

input[type="submit"]{
	margin-top: 20px;
	padding: 10px;
	border:none;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
	background: #ff267e;
	cursor: pointer;
	border-radius: 10px;
}

input[type="submit"]:hover{
	background: #E9967A;
}
