/* font */

@import url('https://fonts.googleapis.com/css?family=Cantora+One');


@font-face{
  font-family: 'smartphone';
  src:url('../Fonts/smartphone.ttf') format('truetype');
}

/* font */




/* hearder */

header .topMenu {
	background-color: #66CDAA;
    padding: 4px;
    width: 100%;
    -webkit-box-shadow: 0 -2px 4px rgba(50,50,50,0.75);
    box-shadow: 0 -2px 4px rgba(50,50,50,0.75);
    display: flex;
    z-index: 1;
}
/* /header */


/* bar icons */
.bars{
	list-style: none;
	font-size: 22px;
  padding-top: 15px;
}

.bars .fa-bars{
  font-weight: bolder;
	cursor: pointer;
}

.bars .fa-bars:hover{
	color: #fff;
}

aside .fa-times{
  font-size: 20px;
  font-weight: bolder;
	cursor: pointer;
  float: right;
  padding: 0;

}

aside .fa-times:hover{
	color: #fff;
}

/* /bar icons */


/* search bar */
fieldset {
  	
  display: inline-block;
  padding: 0 0 0 30px;
  margin-top: 20px;
  background: #fff;
  border: none;
  border-radius: 5px;
}

input,
button {
  position: relative;
  width: 200px;
  height: 30px;
  padding: 0;
  display: inline-block;
  float: left;
}

input {
  color: #666;
  z-index: 2;
  border: 0 none;
}
input:focus {
  outline: 0 none;
}
input:focus + button {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}
input:focus + button .fa {
  -webkit-transform: translate(0px, 0);
      -ms-transform: translate(0px, 0);
          transform: translate(0px, 0);
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  color: #fff;
}

button {
  z-index: 1;
  width: 50px;
  border: 0 none;
  background: #4169E1;
  cursor: pointer;
  border-radius: 0 5px 5px 0;  
  -webkit-transform: translate(-50px, 0);
      -ms-transform: translate(-50px, 0);
          transform: translate(-50px, 0);
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.fa-search {
  font-size: 1.4rem;
  color: #29abe2;
  z-index: 3;
  top: 25%;
  -webkit-transform: translate(-190px, 0);
      -ms-transform: translate(-190px, 0);
          transform: translate(-190px, 0);
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition: all 0.1s ease-in-out;
          transition: all 0.1s ease-in-out;
}
/* /search bar */


/* Icons User */
.UserIcons{
	line-height: 20px;
	float: right;

}

.IconsList{
	list-style-type: none;
    margin: 0;
    padding: 5px;
}

.IconsList li{
	font-size: 20px;
	float: left;
	padding: 15px 15px;
	margin-right: 20px;
	border: 3px solid;
	border-radius: 50%;
}

.IconsList li:hover{
	transition: 0.7s;
	color: #fff;
	background: #111;
	cursor: pointer;
	border-color:#111; 
	cursor: pointer;
  text-decoration: none;
}
/* /Icons User */

/* aside */

aside{
	position: absolute;
	background-color:#3CB371;
	padding: 20px;
	width: 20%;
}
h3{
	font-weight: bold;
	text-align: center;
}

.ProfilPic{
	text-align: center;
}

aside ul{
	list-style-type: none;
    padding: 10px 0 0 0;
    line-height: 49px;

}

aside ul li{
	width: 100%;
	border-bottom: 2px solid rgba(0,0,0,0.15);
	text-align: center;

}

aside ul li a{
	
	text-decoration: none;
	color: #fff;
	font-weight: normal;
	font-size: 16px;
	font-family: "Open Sans";
	
}

aside ul li a:hover{
	transition: 0.5s;
	text-decoration: none;
	color: #111;
	font-weight: bold;
	
}

/* /aside */

/* article */

article{
	width: 100%;
	height:89%;
	position: absolute;
	padding-left:20%;
	background-color: #B0E0E6;
}

#div1,#div2,#div3,#div4,#div5 {
  position: absolute;
}

article #div1 table{
  position: absolute;
  margin: 35% 5% 0 10%;
  width: 100%;
}

article #div1 h1{
  margin: 5% 3% 0 75%;
  width: 100%;
}

article #div1 input[type="submit"]{
  margin: 15% 3% 0 75%;
  width: 100%;
}




article #div2{
  position: absolute;
  padding: 5%;
  display: grid;
  grid-template-columns: 400px 50px 400px;
  grid-template-rows: 200px 100px 200px;
}

article #div2 p{
  font-family: 'smartphone';
  font-size: 40px;
}

article #div2 .div2-1{
  background-color: #90EE90;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  border-size:1px;
  border-style:solid;
  border-width:5px;
  border-color:#9370D8;
  border-radius: 15%;
}

article #div2 .div2-2{
  background-color: #90EE90;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  border-style:solid;
  border-width:5px;
  border-color:#9370D8;
  border-radius: 15%;
}

article #div2 .div2-3{
  background-color: #90EE90;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
  border-style:solid;
  border-width:5px;
  border-color:#9370D8;
  border-radius: 15%;
}

article #div2 .div2-4{
  background-color: #90EE90;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
  border-style:solid;
  border-width:5px;
  border-color:#9370D8;
  border-radius: 15%;
}


article #div2 .div2-Sub{
  grid-column-start: 1;
  grid-column-end:2;
  grid-row-start: 1;
  grid-row-end: 2;
 padding: 60% 60% 60% 80%;

}

article #div2 .div2-1:hover p,.div2-2:hover p,.div2-3:hover p,.div2-4:hover p{
  color:#696969;
}


article #div2 .div2-1 tr,td,th,.div2-2 tr,td,th,.div2-3 tr,td,th,.div2-4 tr,td,th {
  text-align: center;
}


article #div3{
  position: absolute;
  padding: 2% 5% 0 10%;
  display: grid;
  grid-template-columns: 150px 150px 150px 150px 150px;
  grid-template-rows: 170px 170px 170px;
}

article #div3 h1{
  grid-column-start: 1;
  grid-column-end:6;
  grid-row-start: 1;
  grid-row-end: 2;
  text-align: center;
}

article #div3 #div3-1{
  grid-column-start: 1;
  grid-column-end:2;
  grid-row-start: 2;
  grid-row-end: 3;
  text-align: center;
  opacity: 0.7;
  cursor: pointer;
}

article #div3 #div3-2{
  grid-column-start: 3;
  grid-column-end:4;
  grid-row-start: 2;
  grid-row-end: 3;
  text-align: center;
  opacity: 0.7;
  cursor: pointer;
}

article #div3 #div3-3{
  grid-column-start: 5;
  grid-column-end:6;
  grid-row-start: 2;
  grid-row-end: 3;
  text-align: center;
  opacity: 0.7;
  cursor: pointer;
}

article #div3 #div3-4{
  grid-column-start: 2;
  grid-column-end:3;
  grid-row-start: 3;
  grid-row-end: 4;
  opacity: 0.7;
  cursor: pointer;
}

article #div3 #div3-5{
  grid-column-start: 4;
  grid-column-end:5;
  grid-row-start: 3;
  grid-row-end: 4;
  opacity: 0.7;
  cursor: pointer;
}

article #div3 p{
font-size: 20px;
font-family: 'Cantora One', sans-serif;
}

article #div3 #div3-1:hover, article #div3 #div3-2:hover,article #div3 #div3-3:hover,
article #div3 #div3-4:hover,article #div3 #div3-5:hover{
  opacity: 1;
  transition: 0.5s;
}


article #div3-1-1{
  position: absolute;
  padding: 2% 25% 0 30%;
}

article #div3-1-2{
  position: absolute;
  padding: 2% 25% 0 30%;
}
article #div3-1-3{
  position: absolute;
  padding: 2% 25% 0 30%;
}
article #div3-1-4{
  position: absolute;
  padding: 2% 25% 0 30%;
}
article *#div3-1-5{
  position: absolute;
  padding: 2% 25% 0 30%;
}

article #div3-1-1 form #Save,article #div3-1-1 form #Cancel{
  margin-left: 15px;
  margin-top: 10px;
}


article #div3-1-2 form #Save,article #div3-1-2 form #Cancel{
  margin-left: 15px;
  margin-top: 10px;
}

article #div3-1-3 form #Save,article #div3-1-3 form #Cancel{
  margin-left: 15px;
  margin-top: 10px;
}

article #div3-1-4 form #Save,article #div3-1-4 form #Cancel{
  margin-left: 40px;
  margin-top: 10px;
}

article #div3-1-5 form #Save,article #div3-1-5 form #Cancel{
  margin-left: 40px;
  margin-top: 10px;
}

article #div4{
  position: absolute;
  margin-left: 3%;
  width: 70%;
}


article #div5{
  position: absolute;
}

article #div5 .div5-img{
  width: 70%;
  padding: 5% 0 5% 35%;
}

article #div5 p{
  padding: 0 15% 0 15%;
  font-family: 'Oleo Script', cursive;
  font-size: 17px;
  text-align: justify;
}


article #div6{
  margin: 5% 25% 5% 5%;
}

article #div6 h3{
  margin: 5% 0 5% 40%;
}

/* /article */



article.menuDisplayed {
    padding-left: 10%;
    transition: 1s;
}

article.menuDisplayed2 {
  width: 100%;
  height:89%;
  padding-left:20%;
}